body {
  margin: 0;
}
#root {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #fff;
  display: flex;
  flex-direction: row;
}
#root .navbar {
  height: 100vh;
  width: 200px;
  color: #fff;
  display: inline-flex;
  flex-direction: column;
  background-color: #32b987;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
}
#root .navbar button {
  height: 50px;
  font-size: 20px;
  border: none;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
}
#root .navbar button:hover {
  background-color: #000;
}
#root .selected-page {
  height: 100vh;
  position: absolute;
  display: inline-flex;
  overflow: scroll;
}
#root .selected-page .card-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#root .selected-page .card-grid .card {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 30px;
  border-radius: 4px;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0px 0px 6px 0 #ffdf6d;
  transform-style: preserve-3d;
  transition: 150ms;
  transform: perspective(1000px) rotateY(0);
  width: 200px;
  height: 50px;
  cursor: pointer;
}
#root .selected-page .card-grid .card.flip {
  transform: perspective(1000px) rotateY(180deg);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5), inset 0px 0px 6px 0 #6dff71;
}
#root .selected-page .card-grid .card .front,
#root .selected-page .card-grid .card .back {
  position: absolute;
  backface-visibility: hidden;
}
#root .selected-page .card-grid .card .back {
  transform: rotateY(180deg);
}
